/*PAGE LAYOUT*/
.QSContainer {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-top: 12rem;
}

/*RESULTS*/
.Question {
    padding-top: .5rem;
}

.yourCorrectAnswer {
    color: #098F5E;
    font-weight: 600;
    padding-left: 1.25rem;
}

.yourWrongAnswer {
    color: #D10431;
    font-weight: 600;
    padding-left: 1.25rem;
}

.iconCross {
    padding-right: .4rem;
    padding-top: .1rem;
}

.buttonCollectBadge {
    margin-left: 1.8rem;
    margin-top: 2.5rem;
}

.buttonCollectBadge:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

/*BADGE POPUP*/
.badgeDiv{
    display: none;
    position: fixed;
    top: 4.95rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color: var(--purple);
    width: 430px;
    height: 100%;
    padding-bottom: 5rem;
}

.innerChampionDiv {
    display: none; /*hides badge popup*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.innerGoldDiv {
    display: none; /*hides badge popup*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.innerSilverDiv {
    display: none; /*hides badge popup*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.innerBronzeDiv {
    display: none; /*hides badge popup*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.innerNoBadgeDiv {
    display: none; /*hides badge popup*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.imageBadge {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.imageSadSqwee {
    filter:grayscale(60%);
}

.buttonTryAgain {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 1.25rem;
}

.buttonTryAgain:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

.buttonLeaderboard {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.buttonLeaderboard:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

/*PAGE DESIGN ELEMENTS*/
.imageSwirl {
    margin: 0;
    padding: none;
    width: 430px;
    pointer-events: none;
    position: fixed;
    top: 11rem;
    z-index: -10;
}

.imageTree {
    position: fixed;
    top: -14rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.imageSqwee {
    margin-bottom: 5rem;
}

.background {
    width: 430px;
    height: 932px;
    border-left: 1px solid var(--darkGreen);
    border-right: 1px solid var(--darkGreen);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -300;
  }
  

