.Navbar {
    display: grid;
    grid-template-columns: 1fr 430px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "l c r"
    "l c r"
    "l c r";
    z-index:2;
}

.gridLeft {
    grid-area: l;

}

.gridCenter {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 430px; 
    height: 80px;
    background-color: var(--darkGreen);
    position: fixed;
    top:100%;
    left:50%;
    transform: translate(-50%, -100%);
    z-index:2;
}

.gridRight {
    grid-area: r;
}

