
.popupArea{
    margin: 0;
    background:var(--darkGreen);
    position: absolute;
    height: 25rem;
    width: 40rem;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    left: 50%;
    top:0;
    color: var(--bone);
    border-radius: 10px;
    border: solid 6px var(--black);
}
.popupHeader{
    top: 7%;
    left:35%;
    position: absolute;
    font-size: var(--font-h4);
    padding: 5px;
}
.closePopup{
    display:inline-block;
    padding:.5rem;
    font-size: --font-button;
    border: 1.5px solid var(--bone);
    border-radius: 7px;
}
.tutorialInfo{
    text-align: center;
    top: 31%;
    left:0;
    position: absolute;
    font-size: var(--font-body);
}