.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 1.25rem 5rem 1.25rem;
    gap: 1.25rem;
}

/*BANNER SECTION*/
.headingBanner {
    padding: 2.5rem 1.25rem 1rem;
}

.blueBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBlue);
    height: 45px;
    width: 430px;
}

.pTextBanner {
    font-size: 1.125rem;    
}

.pText {
    width: 390px;
    padding: 1rem 1.25rem 2.5rem;
}

.button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 1.25rem;
}

.button:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

/*SQWEE HUNT MAPS SECTION*/
.sectionHuntMaps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 430px;
  gap: 1.25rem;
}

.headingHuntMaps{
  width: 390px;
}

.huntMapsBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  height: 236px;
  background-color: var(--purple);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.quickLinkBoxes:hover {
  background-color: var(--darkGreen);
  color: var(--white);
}

.boxText {
    text-align: center;
    background-color: var(--lightGreen);
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box2{
  background-color: var(--blue);
}

.box3{
  background-color: var(--orange);
}

.box4{
  background-color: var(--lightGreen);
}

.quickLinkBoxes_Text {
  text-align: center;
  font-weight: 600;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.buttonHuntMaps {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
}

.buttonHuntMaps:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

/*PAGE DESIGN ELEMENTS*/
.imageSwirl {
    margin: 0;
    width: 430px;
    pointer-events: none;
    position: absolute;
    top: 60rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -10;
  }

.background {
  width: 430px;
  height: 932px;
  border-left: 1px solid var(--darkGreen);
  border-right: 1px solid var(--darkGreen);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -300;
}