.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.topHeadingContainer {
    display: flex;
    align-items: flex-end;
    gap: 10.8rem;
    padding: 1.25rem 1.25rem 1rem;
}

.spacerWrapper {
    position: relative;
}

.spacer {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
}

/*PAGE NAV CHIPS SECTION*/
.sectionNavChips {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .50rem;
    max-width: 430px;
    padding-bottom: 1.25rem;
}

.navChip {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: var(--bone);
    border-radius: 10px;
    border: 2.5px solid var(--darkGreen);
    padding: 0 .50rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.navChip:active {
    background-color: var(--darkGreen);
}

.navChipText {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--darkGreen);
}

.navChipText:active {
    color: var(--white);
}

.chipIcon {
    padding-left: 0.5rem;
}

/*IMAGE AND VIDEO CAROUSEL SECTION*/
.sectionCarousel {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
  
.FPContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.25rem;
    max-width: 430px;
    overflow-x: scroll;
}
  
.carouselCard {
    width: 308px;
    height: 311px;
    background-color: var(--greenGrey);
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.25rem;
}
  
.carousel_First {
    margin-left: 3.75rem;
}
  
.carousel_Last {
    margin-right: 3.75rem;
}

/*ACCORDION AMENITIES SECTION*/
.sectionFAQ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2.50rem;
    width: 430px;
    gap: 1.25rem;
    padding-bottom: 3.75rem;
}

.amenitiesHeadingContainer {
    display: flex;
    align-items: flex-end;
    gap: 15.3rem;
    padding: 1.25rem 1.25rem 1rem;
}

.headerFAQ{
width: 390px;
}  

.extraInfo {
    display: flex;
    align-items: center;
    width: 390px;
    border-top: 2px solid var(--black);
    padding-top: .75rem;
}

.extraInfoIcons {
    padding-right: 0.5rem;
}

.concessionIcon {
    padding-right: .75rem;
}

.concessionBottomBorder {
    border-bottom: 2px solid var(--black);
    padding-bottom: 1.25rem;
}

/*TRAILS SECTION*/
.sectionQuickLinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 3.75rem;
    width: 430px;
    gap: 1.25rem;
}
  
.trailsHeadingContainer {
    display: flex;
    align-items: flex-end;
    gap: 18rem;
    padding: 1.25rem 1.25rem 1rem;
}
  
.quickLinkBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 166px;
    background-color: var(--orange);
    border-radius: 10px;
    box-shadow: 1px 2.5px 1px rgba(0, 0, 0, 0.3);
}
  
.quickLinkBoxes:hover {
    background-color: var(--darkGreen);
    color: var(--white);
}
  
.box2{
    background-color: var(--purple);
}
  
.quickLinkBoxes_Text {
    text-align: center;
    font-weight: 600;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/*SQWEE HUNT SECTION*/
.sectionHuntBanner {
    padding-bottom: 5rem;
}

.huntHeadingContainer {
    display: flex;
    align-items: center;
    gap: 5.5rem
}

.huntBanner {
    padding: 1.25rem 1.25rem 1rem;
}

.pText {
    width: 390px;
    padding: 1rem 1.25rem 0rem;
}

.pText2 {
    width: 390px;
    padding: 1rem 1.25rem 2.5rem;
}

.headingWelcome {
    padding: 1rem 1.25rem 0;
    width: 390px;
}

.button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2.50rem;
}

.button:hover {
    color: var(--white);
    background-color: var(--darkGreen);
}

/*PAGE DESIGN ELEMENTS*/

.imageSwirl {
    margin: 0;
    width: 430px;
    pointer-events: none;
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -10;
}

.imageSwirlTwo {
    margin: 0;
    width: 430px;
    pointer-events: none;
    position: absolute;
    top: 151rem;
    left: 50%;
    transform: translate(-50%);
    z-index: -10;
}

/*PARK MAP SECTION*/
.sectionMap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2.50rem;
    width: 430px;
    gap: 1.25rem;
    z-index: 0;
}

.parkMapHeadingContainer {
    display: flex;
    align-items: flex-end;
    gap: 8.1rem;
    padding: 1.25rem 1.25rem 1rem;
}
  
.mapIcons {
    display: flex;
    padding: 0 1rem;
    gap: 10px;
}

/*POPUP ADD PARK*/
.popUpAddPark {
    display: none;
    position: absolute;
    top: 4.92rem;
    z-index: 1;
    width: 430px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.innerPopUpAddPark {
    display: flex;
    padding-left: 65px;
    padding-top: 10rem;
    width: 300px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parkAdded {
    display: none;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--darkGreen);
}

.addParkContainer {
    width: 300px;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    border: 4px solid var(--white);
}

.addParkTextBold {
    font-size: 1.5rem;
    font-weight: 700;
}

.closeButton {
    align-self: flex-end;
    position: relative;
    top: .9rem;
    left: 1.6rem;
}

.imageSqweeAcorn {
   position: absolute;
   left: -10px;
   top: 323px;
   transform: rotate(40deg);
}
.savedParksButton {
    margin-top: 2.5rem;
}

