.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1.25rem 5rem 1.25rem;
  min-height: 120vh;
  background-color: var(--bone);
}

.communityHeader {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;

}

.leaderboard {
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.runnerUps {
  padding: .5rem;
  background-color: var(--white);
  margin-bottom: .5rem;
  border-radius: 15px;
  width: 400px;
}

.runnerUpsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .2rem;
}

.leaderboardPhotoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.runnerUpUsername {
  margin-left: 1rem;
}

.positionNumber {
  margin-right: 1rem;
  margin-left: 1rem;
}

.topThree {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: flex-end;
  left: 50%;

}

.firstPlace {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

.secondPlace {

  margin-left: 2rem;
}

.thirdPlace {

  margin-right: 2rem;
}

.profilePhoto {
  display: flex;
  flex-direction: row;
}

.eventsHeader {
  display: flex;
  margin-right: 2rem;
  margin-top: 1rem;
}

/** 
*events card
**/

.FPContainer {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  max-width: 430px;
  z-index: 1;
  margin-top: 2rem;
}

.featuredParksCard {
  width: 308px;
  height: 367px;
  background-color: var(--greenGrey);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  overflow: hidden;
}

.FPC_First {
  margin-left: 1.25rem;
}

.FPC_Last {
  margin-right: 1.25rem;
}

.FPC_Image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.FPC_TextDiv {
  padding: 0.5rem 1.25rem;
}

.FPC_TextHeader {
  padding-bottom: 0.5rem;
}

.FPC_LearnMore {
  color: var(--darkGreen);
  font-weight: 700;
  text-align: end;
}

.FPContainerTwo {
  margin-bottom: 2rem;
  z-index: 1;
}