.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 120vh;
    background-color: var(--bone);
    margin-bottom: 6rem;
}

.profilePhotoContainer {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    z-index: 1;
}

.profilePhoto {
    object-fit: cover;
    height: auto;
}

.passportIconContainer {
    position: absolute;
    top: 22.5rem;
    left: 46%;
    transform: translateX(-50%);
    z-index: 1;
}

.pageHeader {
    position: absolute;
    transform: translateX(-50%);
    left: 43.89%;
    top: 120px;
}

.username {
    position: absolute;
    left: 50%;
    top: 26.4rem;
    transform: translateX(-50%);
    z-index: 1;
}

.bioText {
    height: 3rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: var(--font-body);
    top: 29.5rem;
    position: absolute;
    width: 20%;
    transform: translateX(-50%);
    text-align: center;
    left: 50%;
    z-index: 1;
}

.friend {
    padding: 1rem;
    margin-bottom: 6px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.friendListContainer {
    border-radius: 10px;
    padding: 1rem;
    width: 22%;
    position: absolute;
    margin: 1rem;
    top: 78%;
    transform: translateX(-53%);
    left: 50%;
}

.friendsHeader {
    position:absolute;
    top: -10%;
}

.background {
    width: 430px;
    height: 932px;
    border-left: 1px solid var(--darkGreen);
    border-right: 1px solid var(--darkGreen);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -300;
  }

@media only screen and (max-device-width: 430px) {
    .profilePhotoContainer {
        left: 50%;
        transform: translateX(135%);
        top: 10%;
    }

    .username {
        left: 50%;
        transform: translateX(150%);
        top: 45%;
    }

    .bioText {
        width: 45%;
        left: 50%;
        transform: translateX(55%);
        top:55%;
    }

    .passportIconContainer {
        left: 35%;
    }

    .friendListContainer {
        width: 40%;
        left: 50%;
        transform: translateX(58%);
        margin-top: 2rem;
        top: 60%;
    }

    .friendsPage {
        left: 50%;
        transform: translateX(-50%);
    }

    .main {
        min-height: 90vh;
    }
  
    
}