.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem 1.25rem 5rem 1.25rem;
  gap: 1.25rem;
}

/*LOADING PAGE*/
.loadingContainer {
  background-color: #86C2B6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 430px;
  height: 932px;
  border-left: 1px solid var(--darkGreen);
  border-right: 1px solid var(--darkGreen);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -300;
}

.progressBar {
  border-radius: 10px; 
  width: 90%;
  height: 10px;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
.progressBar::-webkit-progress-bar {
  background-color: var(--bone);
  border-radius: 10px;
}
.progressBar::-webkit-progress-value {
  background-color: var(--darkGreen);
  border-radius: 10px;
}

.loadingStyle {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  margin: 0;
}


/*BANNER SECTION*/
.sectionBanner {
  display: flex;
  padding-top: 3.8rem;
  padding-left: 2.5rem;  
}

.welcome {
  width: 13.5rem;
}

.imageSqweeAcorn {
  margin-top: 2.5rem;
}

.imageTree1 {
  position: absolute; /*can change to fixed so it doesn't scroll*/
  top: 3.5rem;
  left: 50%;
  transform: translate(-60.75%);
  z-index: -1;
}

/*QUICK LINKS SECTION*/
.sectionQuickLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 430px;
  gap: 1.25rem;
}

.headerQuickLinks{
  width: 390px;
}

.quickLinkBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 166px;
  background-color: var(--orange);
  border-radius: 10px;
  box-shadow: 1px 2.5px 1px rgba(0, 0, 0, 0.3);

}

.quickLinkBoxes:hover {
  background-color: var(--darkGreen);
  color: var(--white);
}

.box2{
  background-color: var(--lightGreen);
}

.box3{
  background-color: var(--blue);
}

.box4{
  background-color: var(--purple);
}

.box5{
  background-color: var(--lighterGreen);
}

.box6{
  background-color: var(--lightOrange);
}

.quickLinkBoxes_Text {
  text-align: center;
  font-weight: 600;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  cursor: default;
}

/*FEATURED PARKS SECTION*/
.sectionFeaturedParks {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem 0rem;
}

.headerFeaturedParks {
  width: 390px;
  margin-left: 1.25rem;
}

.FPContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25rem;
  max-width: 430px;
  overflow-x: scroll;
}

.featuredParksCard {
  width: 308px;
  height: 367px;
  background-color: var(--greenGrey);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 2.5rem;
}

.FPC_First {
  margin-left: 1.25rem;
}

.FPC_Last {
  margin-right: 1.25rem;
}

.FPC_Image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.FPC_TextDiv {
  padding: 0.5rem 1.25rem;
}

.FPC_TextHeader {
  padding-bottom: 0.5rem;
}

.FPC_LearnMore {
  color: var(--darkGreen);
  font-weight: 700;
  padding-top: .25rem;
  text-align: end;
  cursor: pointer;
}

.imageTree2 {
  position: absolute; /*can change to fixed so it doesn't scroll*/
  top: 59rem;
  left: 50%;
  transform: translate(-24.7%);
  z-index: -1;
}

/*PAGE DESIGN ELEMENTS*/

.imageSwirl {
  margin: 0;
  width: 430px;;
  pointer-events: none;
  position: fixed;
  top: 14rem;
  left: 50%;
  transform: translate(-50%);
  z-index: -10;
}

.background {
  width: 430px;
  height: 932px;
  border-left: 1px solid var(--darkGreen);
  border-right: 1px solid var(--darkGreen);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -300;
}
