.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: var(--bone);
}

/*PARK CARDS HEADER*/

.imageSearchBar {
  margin-top: 40px;
  margin-bottom: 40px;
}

.parkLibHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.parksHeader {
  width: 380px;
}

/*SEARCH*/
.searchInput {
  padding: 8px;
  padding-left: 12px;
  width: 24rem;
  height: 2.3125rem;
  font-size: var(--font-body);
  border-radius: 4rem;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--darkGreen);
  margin-top: 30px;
  margin-bottom: 30px;
}

.searchInput:focus {
  outline-style: 3px solid;
  outline-color: var(--purple);
}

/*FILTER*/

/*PARK LIBRARY CARDS SECTION*/

.PC_Container {
  display: flex;
  flex-direction: row;
  max-width: 420px;
  gap: 1.25rem;
}

.parkCard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  padding-left: 0;
  gap: 1.25rem;
}

.showMoreButton {
  font-family: var(--font-button);
  align-self: center;
  margin-top: 40px;
}


/*DISCOVER BC PARKS SECTION*/

.discoverBCParks_header {
  width: 400px;
  margin-top: 60px;
}

.BCParksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25rem;
  max-width: 430px;
  overflow-x: scroll;
  margin-top: 1.25rem;
}

.BCPark1 {
  width: 137px;
  height: 129px;
  background-color: var(--purple);
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

.BCPark2 {
  width: 137px;
  height: 129px;
  background-color: var(--blue);
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

.BCPark3 {
  width: 137px;
  height: 129px;
  background-color: var(--orange);
  border-radius: 10px;
  align-content: center;
  text-align: center;
}