.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: var(--bone);
  }
  .profilePhotoContainer{
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top:10rem;
    transform: translateX(-50%);
  }
  .profilePhoto{
    object-fit:cover;
    height: auto;
  }
  .passportIconContainer{
    position: fixed;
    top:20rem;
    left: 46%;
    transform: translateX(-50%);
  }
  .pageHeader{
    position: fixed;
    transform: translateX(-50%);
   left:43%;
   top:120px;
  }
  .galleryHeader{
    position: fixed;
    transform: translateX(-50%);
    top: 30rem;
    left:43%;
  }
  .username{
    position: fixed;
    left: 50%;
    top:23.7rem;
    transform: translateX(-50%);
  }