.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
  min-height: 100vh;
  background-color: var(--bone);
}

.background {
  width: 430px;
  height: 932px;
  border-left: 1px solid var(--darkGreen);
  border-right: 1px solid var(--darkGreen);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
  pointer-events: none;
}

/*language buttons */
.languageOptions {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 11.9rem;
  left: 57%;
  text-decoration: none;
  color: var(--black);
}

/* page header*/
.headerContainer {
  margin-top: 2rem;
  width:100%;
}
.hr{
  width:300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*settings list */
.menuList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
}


.profileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .2rem;
  position: relative;
}

.privacyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .3rem;
  position: relative;
}

.languageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: .2rem;
}

.icon{
  margin-right: .6rem;
 margin-left: auto;
}

/* switch styling */
.toggleContainer {
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightGreen);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 23px;
  left: 1px;
  bottom: 1px;
  background-color: var(--darkGreen);
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--orange);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--orange);
}

input:checked+.slider:before {
  transform: translateX(25.2px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}